.contact-container {
    display: grid;
    grid-template-columns: auto auto;
    height: inherit;
    gap: 1em;
    padding: 0.5em;
}

.access-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.2em;
    animation: moveIn 0.8s ease-in-out;
}

.mail-box {
    padding: 1em;
    background-color: #dcdcdc;
    color: #000000;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.367) 0px 5px 15px;
    animation: moveIn 1s ease-in-out;
}

.mail-box a {
    text-decoration: none;
    color: #02c202;
}

.mail-box a:hover {
    text-decoration: underline;
}
.icon-container{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 1em;
    animation: moveIn 1s ease-in-out;
}
.icon-link{
    text-decoration: none;
    color: inherit;
}
.icon-link:hover{
    color: #7BF767;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.form-container form{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    background-color: #efefef;
    color: #000000;
    gap: 1em;
    text-align: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.192) 0px 5px 15px;
    animation: moveDown 1s ease-in-out;
}
.control-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-control{
    width: 30em;
    font-family: inherit;
    padding: 1em 0 1em 1em;
    border: none;
    outline: #eeeeee;
    border-radius: 5px;
}
.form-control.error{
    outline: #ff0000 solid;
}
.form-control.valid{
    outline: #02c202 solid;
}
textarea{
    width: 100%;
    height: 10em;
    font-family: inherit;
    padding: 1em 0 1em 1em;
    border-radius: 5px;
    resize: none;
    border: none;
    outline: none;
}

.form-control:focus,textarea:focus{
    outline: #f949f3 solid;
}

.btn-send{
    background-color: #02c202;
    color: #ffffff;
}
.btn-send:hover{
    background-color: #26e209;
}

@keyframes moveDown{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:650px) {
    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .form-container form{
        padding: 1em;
    }
    .form-control{
        width: 23em;
    }
}
